.styleclass {
	border: 5px solid green;
}

#drag {
	width: 150px;
	height: 60px;
	background-color: blueviolet;
}

#drop {
	width: 400px;
	height: 400px;
	float: right;
	background-color: aquamarine;
}

#drag-img {
	width: 200px;
	height: 200px;
}